/* ページが表示中の状態 */
body {
    opacity: 1;
    transition: opacity 500ms linear;
    background-color: var(--accent-color050);
}
/* ページ遷移時にフェードアウト */
body.page-transitioning {
    opacity: 0;
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 23%;
    left: 0;
    right: 0;
}
.LOCS-logo {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nickname-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 33%;
    left: 0;
}
.nickname {
    display: flex;
    flex-direction: row;
    width: 88%;
    align-items: center;
    gap: 10px;
    position: relative;
}
.nickname-input-field {
    display: flex;
    width: 100%;
    height: auto;
    border: 1px solid var(--accent-color500);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: var(--text-default-med-font-size);
}
.confirm {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    padding: 10px 16px;
    position: relative;
    background-color: var(--lightaccent);
    border: none;
    border-radius: 6px;
    overflow: hidden;
    white-space: nowrap;
}
.confirm .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightbackground);
    font-size: var(--text-default-med-font-size);
    text-align: center;
    letter-spacing: var(--text-default-med-letter-spacing);
    line-height: var(--text-default-med-line-height);
    font-style: var(--text-default-med-font-style);
}
.later {
    position: absolute;
    bottom: -1.5rem;
    right: 60px;
    font-weight: var(--form-placeholder-font-weight);
    color: var(--lightmain-80);
    font-size: var(--form-placeholder-font-size);
    letter-spacing: var(--form-placeholder-letter-spacing);
    line-height: var(--form-placeholder-line-height);
    font-style: var(--form-placeholder-font-style);
}

.skip {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 10px 16px;
    position: absolute;
    bottom: 8%;
    right: 10%;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
}
.skip .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightmain-80);
    font-size: var(--text-default-med-font-size);
    text-align: center;
    letter-spacing: var(--text-default-med-letter-spacing);
    line-height: var(--text-default-med-line-height);
    font-style: var(--text-default-med-font-style);
}

.language {
    position: absolute;
    bottom: 4%;
    left: 12%;
    font-weight: 400;
    color: var(--lightmain-80);
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.05px;
    line-height: normal;
    text-decoration: underline;
}