/* デフォルトで非表示 */
body {
    opacity: 1;
    transition: opacity 500ms linear;
}

/* ページ遷移時に表示 */
body.loaded {
    opacity: 1;
}

.content-globe {
    display: block;
}

.generate-plan-1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--darkmain);
    font-size: 10vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 124, 69, 0.7);
    z-index: 9999;
}

.map {
    display: inline;
    position: absolute;
    top: 7.2%;
    left: 0;
    height: 84.8%;
    width: 100%;
    z-index: -1;
}

.plan {
    display: none;
    position: absolute;
    top: 7.2%;
    left: 0;
    height: calc(84.8% - 68px);
    width: 100%;
    z-index: -1;
    padding-top: 68px;
    background-color: var(--accent-color050);
}
.pin-img {
    width: 64px;
    height: 64px;
}
.first,
.second,
.third,
.fourth {
    display: none;
    flex-direction: row;
    gap: 5%;
    align-items: center;
}
.space {
    display: none;
    height: 6%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.name-time {
    display: flex;
    flex-direction: column;
}
.plan-name {
    max-width: calc(100vw - 190px);
}
.plan-photos {
    position: absolute;
    width: 64px;
    height: 64px;
    right: 0;
}
.plan-name-field {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 60%;
    height: auto;
    border: 1px solid var(--accent-color500);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: var(--text-default-med-font-size);
}
.save-plan-button {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: var(--text-default-med-font-size);
}

.current-location-button {
    display: none;
    position: absolute;
    top: 8%;
    left: 1%;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--accent-color900);
    background-color: rgba(245, 245, 245, 0.5);
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: 4vw;
}
.change-display-button {
    display: none;
    position: absolute;
    top: 8%;
    right: 1%;
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--accent-color900);
    background-color: rgba(245, 245, 245, 0.5);
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: 4vw;
}
.confirm-pin-button {
    display: none;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 10px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--accent-color900);
    background-color: rgba(245, 245, 245, 0.5);
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: 4vw;
}

.search-bar {
    display: flex;
    position: absolute;
    width: 362px;
    height: 50px;
    bottom: 8.5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(245, 245, 245, 0.85);
    border-radius: 10px;
    border: 1px solid;
    border-color: var(--system-gray400);
}
.search-mark {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    left: 14px;
}
.text-search {
    position: absolute;
    height: 22px;
    top: 14px;
    left: 164px;
    color: var(--system-gray500);
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}

.tab-bars {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 8%;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color200);
}
.divider-bottom {
    background-color: var(--system-gray400);
    border: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    bottom: 8%;
    left: 0;
    margin: 0;
    z-index: 9997;
}
.item-globe {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 75px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 20%;
}
.setting {
    position: relative;
    fill: var(--system-gray500);
}
.text-setting {
    position: relative;
    width: fit-content;
    margin-bottom: -2.5px;
    color: var(--system-gray500);
    line-height: 12px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}
.item-setting {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 75px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 20%;
}
.globe {
    position: relative;
    padding-top: 3px;
    fill: var(--accent-color800);
}
.text-globe {
    position: relative;
    width: fit-content;
    color: var(--accent-color800);
    line-height: 12px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0;
    white-space: nowrap;
}
