.slide-in-content2 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100vh);
    transition: all .5s linear;
}

.overlap-group2 {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100vh * 0.15);
    top: 7%;
    left: 0;
    background-color: var(--accent-color050);
}

.back {
    display: flex;
    position: absolute;
    align-items: center;
    text-decoration: underline;
    gap: 1%;
    top: 1%;
    left: 1%;
    white-space: nowrap;
    font-size: 4vw;
    border: none;
    background-color: transparent;
    color: var(--system-gray500);
}
.title {
    display: flex;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    justify-content: center;
    font-weight: 400;
    font-size: 6vw;
}

.mypage-icon {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}
.mypage-icon-title {
    text-align: left;
    align-self: flex-start;
    margin-left: -16px;
}
.mypage-icon-image {
    position: relative;
    width: 90px;
    height: 90px;
    opacity: 0.4;
}
.mypage-icon-edit {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -68%);
}

.mypage-user-name {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}
.mypage-user-name-title {
    text-align: left;
    align-self: flex-start;
    margin-left: -16px;
}
.mypage-user-name-input {
    width: 100%;
    height: auto;
    border: 1px solid var(--accent-color500);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: var(--text-default-med-font-size);
}
.mypage-user-name-error {
    text-align: right;
    align-self: flex-end;
    margin-right: -16px;
    font-weight: var(--form-placeholder-font-weight);
    color: var(--lightmain-80);
    font-size: var(--form-placeholder-font-size);
    letter-spacing: var(--form-placeholder-letter-spacing);
    line-height: var(--form-placeholder-line-height);
    font-style: var(--form-placeholder-font-style);
}

.mypage-id {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
}
.mypage-id-title {
    text-align: left;
    align-self: flex-start;
    margin-left: -16px;
}
.mypage-id-input {
    width: 100%;
    height: auto;
    border: 1px solid var(--accent-color500);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: var(--text-default-med-font-size);
}
.mypage-id-error {
    text-align: right;
    align-self: flex-end;
    margin-right: -16px;
    font-weight: var(--form-placeholder-font-weight);
    color: var(--lightmain-80);
    font-size: var(--form-placeholder-font-size);
    letter-spacing: var(--form-placeholder-letter-spacing);
    line-height: var(--form-placeholder-line-height);
    font-style: var(--form-placeholder-font-style);
}

.cancel-save {
    display: flex;
    position: absolute;
    top: 70%;
    width: 100%;
    gap: 10%;
    justify-content: center;
}
.cancel {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightmain);
    font-size: var(--text-default-med-font-size);
}
.save {
    padding: 10px 29px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: var(--text-default-med-font-size);
}

.logout-delete-account {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 100%;
    gap: 10%;
    justify-content: center;
}
.logout {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightmain-80);
    font-size: var(--text-default-med-font-size);
}
.delete-account {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lighterror);
    font-size: var(--text-default-med-font-size);
}

.user-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 43%;
    left: 0;
}
.register-or-login-1 {
    padding: 0 0 5px 0;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: var(--text-large-regular-font-size);
}
.user-input {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 400px;
    align-items: center;
    gap: 10px;
    position: relative;
}
.user-field {
    display: flex;
    width: 100%;
    height: auto;
    border: 1px solid var(--accent-color500);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: var(--text-default-med-font-size);
}
#passwordField {
    display: none;
}
.user-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    align-items: center;
    gap: 10px;
    padding: 10px 0 0 0;
    position: relative;
}
.confirm {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 42px;
    position: relative;
    background-color: var(--lightaccent);
    border: none;
    border-radius: 6px;
    overflow: hidden;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightbackground);
    font-size: var(--text-default-med-font-size);
    white-space: nowrap;
}
.later {
    font-weight: var(--form-placeholder-font-weight);
    color: var(--lightmain-80);
    font-size: var(--form-placeholder-font-size);
    letter-spacing: var(--form-placeholder-letter-spacing);
    line-height: var(--form-placeholder-line-height);
    font-style: var(--form-placeholder-font-style);
}