.slide-in-content2 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100vh);
    transition: all .5s linear;
}

.overlap-group2 {
    position: absolute;
    width: 100%;
    height: calc(100vh - 100vh * 0.15);
    top: 7%;
    left: 0;
    background-color: var(--accent-color050);
}

.back {
    display: flex;
    position: absolute;
    align-items: center;
    text-decoration: underline;
    gap: 1%;
    color: var(--system-gray500);
    top: 1%;
    left: 1%;
    white-space: nowrap;
    font-size: 4vw;
}
.title {
    display: flex;
    position: absolute;
    top: 1%;
    width: 100%;
    justify-content: center;
    font-weight: 400;
    font-size: 6vw;
}

.mypage-icon {
    display: flex;
    position: absolute;
    top: 19%;
    width: 100%;
    justify-content: center;
}
.mypage-icon-title {

}
.mypage-icon-image {

}

.mypage-user-name {
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    top: 45%;
    width: 100%;
}
.mypage-user-name-title {

}
.mypage-user-name-input {
    width: 80%;
    height: auto;
    border: 1px solid var(--accent-color500);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: var(--text-default-med-font-size);
}
.mypage-user-name-error {
    font-weight: var(--form-placeholder-font-weight);
    color: var(--lightmain-80);
    font-size: var(--form-placeholder-font-size);
    letter-spacing: var(--form-placeholder-letter-spacing);
    line-height: var(--form-placeholder-line-height);
    font-style: var(--form-placeholder-font-style);
}

.cancel-save {
    display: flex;
    position: absolute;
    bottom: 30%;
    width: 100%;
    justify-content: center;
}
.cancel {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightmain);
    font-size: var(--text-default-med-font-size);
}
.save {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: var(--text-default-med-font-size);
}

.logout-delete-account {
    display: flex;
    position: absolute;
    bottom: 20%;
    width: 100%;
    justify-content: center;
}
.logout {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightmain-80);
    font-size: var(--text-default-med-font-size);
}
.delete-account {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lighterror);
    font-size: var(--text-default-med-font-size);
}