.slide-in-content {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9998;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100vh);
    transition: all .5s linear;
}

.overlap-group {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 7%;
    left: 0;
    background-color: var(--accent-color050);
}

.generate-plan-2 {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--darkmain);
    font-size: 10vw;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    background-color: rgba(156, 124, 69, 0.7);
    z-index: 9999;
}

.swipe-to-go-back {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-80%);
    font-weight: 400;
    color: var(--system-gray500);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.text-titles {
    position: absolute;
    width: 110px;
    font-weight: 400;
    color: var(--lightmain);
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.departure-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.departure-wrapper,
.list-departure {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 110px;
    border-color: var(--system-gray500);
}
.departure-wrapper {
    height: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.list-departure {
    padding: 8px 7px;
    border: 1px solid;
    border-radius: 5px;
    color: var(--lightmain);
    border-color: var(--system-gray500);
    background-color: transparent;
}

.sort-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
}
.sort,
.sort-pull-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 110px;
    border-color: var(--system-gray500);
}
.sort {
    height: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.sort-pull-down {
    padding: 8px 7px;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--system-gray500);
    background-color: transparent;
}

.time-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    top: 27%;
    left: 50%;
    transform: translateX(-50%);
}
.time-wrapper {
    display: inline-block;
    width: 115px;
    height: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--system-gray500);
}
.date-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 110px;
    gap: 10px;
}
.date {
    color: var(--lightmain);
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--system-gray500);
}
.time-drum-roll {
    width: 177px;
    height: 32px;
    display: inline-block;
    position: relative;
}
.time-picker-1 {
    position: absolute;
    height: 32px;
    top: 0;
    left: 0;
    color: var(--lightmain);
    background-color: var(--system-gray100);
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--system-gray500);
}
.time-picker-2 {
    position: absolute;
    height: 32px;
    top: 0;
    left: 95px;
    color: var(--lightmain);
    background-color: var(--system-gray100);
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--system-gray500);
}
.text-tilde {
    position: absolute;
    width: 21px;
    top: 4px;
    left: 71px;
    font-weight: 400;
    color: var(--lightmain);
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
input[type="time"] {
    background: transparent;
}

.keyword {
    height: 32px;
    top: 41%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--system-gray500);
    position: absolute;
    width: 110px;
}
.keywords-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    top: 46%;
    left: 50%;
    transform: translateX(-50%);
}
.keywords-set-1,
.keywords-set-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.keywords-pull-down-1,
.keywords-pull-down-2,
.keywords-pull-down-3,
.keywords-pull-down-4 {
    display: flex;
    width: 110px;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px 7px;
    position: relative;
    border-radius: 5px;
    border: 1px solid;
    color: var(--lightmain);
    border-color: var(--system-gray500);
    background-color: transparent;
}

.transportation-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    top: 59%;
    left: 50%;
    transform: translateX(-50%);
}
.transportation-wrapper {
    display: inline-block;
    height: 32px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: var(--system-gray500);
    position: absolute;
    width: 110px;
}
.transportation {
    position: absolute;
    width: 85px;
    height: 24px;
    font-weight: 400;
    color: var(--lightmain);
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}
.radio {
    position: relative;
    width: 24px;
    height: 24px;
    top: 0;
    margin: 0;
    background-color: transparent;
}
.radio-group {
    display: inline-block;
    width: 246px;
    height: 56px;
}
.foot-radio,
.train-radio,
.car-radio,
.bicycle-radio {
    position: absolute;
    width: 111px;
    height: 24px;
    margin: 0;
}
.foot-radio {
    top: 55px;
}
.train-radio {
    top: 55px;
    left: 135px;
}
.car-radio {
    top: 85px;
}
.bicycle-radio {
    top: 85px;
    left: 135px;
}

.reset-search {
    display: flex;
    position: absolute;
    bottom: 15%;
    width: 100%;
    gap: 10%;
    justify-content: center;
}
.reset {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--lightmain-80);
    font-size: var(--text-default-med-font-size);
}
.search {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid;
    border-color: var(--lightmain-40);
    background-color: transparent;
    font-weight: var(--text-default-med-font-weight);
    color: var(--accent-color900);
    font-size: var(--text-default-med-font-size);
}