.content-setting {
    display: none;
}

.user-info {
    position: absolute;
    top: 7%;
    box-sizing: border-box;
    width: 100%;
    left: 0;
}

.divider-top {
    background-color: var(--system-gray400);
    border: none;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    left: 0;
    margin: 0;
}

.saved-plan {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 23%;
}
.saved-plan-title {
    padding-left: 2%;
    font-size: 1.3rem;
}
.saved-plan-list {
    max-height: calc(100vh - 100vh * 0.34);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.saved-plan-list::-webkit-scrollbar{
    display: none;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    height: 50px;
    padding: 8px;
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid var(--system-gray400);
}
th {
    color: var(--accent-color900);
}
td {
    color: var(--accent-color700);
    background-color: var(--lightbackground);
    text-decoration: underline;
}
td:first-child {
    color: var(--system-gray1000);
    background-color: var(--lightbackground);
    text-decoration: none;
}
thead {
    position: sticky;
    top: 0;
    background-color: var(--accent-color500);
}
   
